:root {
    --rewards-checked: #304170;

    --progress: 20;
}

::-webkit-scrollbar {
    background-color: #486bb1;
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #304170;
    border-radius: 5px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: arial, sans-serif;
    border: 0;
    background: none;
    scrollbar-color: #3c5a95 #486bb1;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

@keyframes animalBreath {
    0% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(1.4);
    }

    100% {
        filter: brightness(1);
    }
}

@keyframes animalFire {
    0% {
        filter: brightness(.8);
    }

    50% {
        filter: brightness(1.2);
    }

    100% {
        filter: brightness(.8);
    }
}

@keyframes animalLanternMotion {
    0% {
        transform: rotate(10deg) matrix(1, 0, 0, 1, -11, 0);
    }

    20% {
        transform: rotate(0deg) matrix(1, 0, 0, 1, 0, 0);
    }

    40% {
        transform: rotate(-10deg) matrix(1, 0, 0, 1, 11, 0);

    }

    60% {
        transform: rotate(0deg) matrix(1, 0, 0, 1, 0, 0);
    }

    100% {
        transform: rotate(10deg) matrix(1, 0, 0, 1, -11, 0);

    }
}

@keyframes animalOnline {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hoverRewards {
    0% {
        border-bottom: solid 1px #ebcf9b00;
    }

    100% {
        border-bottom: solid 1px #ebcf9b;
    }
}

@keyframes hoverItem {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hoverBlock {
    0% {
        transform: translate(-5000px);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes hoverBlockRight {
    0% {
        transform: translateX(5000px);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes headerShow {
    0% {
        filter: drop-shadow(0 0 0px #3c5a95);
    }

    50% {
        filter: drop-shadow(0 0 10px white);
    }

    100% {
        filter: drop-shadow(0 0 0px #3c5a95);
    }
}

a {
    color: #f1f1f1;
}

h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ebcf9b;
    animation: headerShow 3s infinite;
    &::before {
        content: url(../style/img/decoration.png);
    }
}

h4 {
    text-wrap: nowrap;
    color: #f1f1f1;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.g5 {
    gap: 5px;
}

.g10 {
    gap: 10px;
}

.g20 {
    gap: 20px;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: url(../style/img/bg.png), #253358;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

header {
    width: 1440px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .login {
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(../style/img/bg-login.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 250px;
        height: 40px;
        cursor: pointer;
        color: #253358;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 12px;
        text-transform: uppercase;
        position: relative;
        z-index: 9999;

        &:hover {
            filter: brightness(1.5);
            transition: filter .3s ease;
        }

        &:active {
            filter: brightness(1);
        }

        & span {
            margin-left: 80px;
        }
    }
    & .register {
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(../style/img/register.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 190px;
        height: 40px;
        cursor: pointer;
        color: #253358;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 12px;
        text-transform: uppercase;
        position: relative;
        z-index: 9999;

        &:hover {
            filter: brightness(1.5);
            transition: filter .3s ease;
        }

        &:active {
            filter: brightness(1);
        }

        & span {
            margin-left: 80px;
        }
    }
   
    #head-login {
        display: flex;
    }

    & nav {
        display: flex;
        gap: 60px;

        & a {
            padding: 10px;
            text-wrap: nowrap;

            &:hover {
                color: #ebcf9b;
                transform: scale(1.1);
                transition: all .2s ease;
            }

            &:active {
                color: #adedf9;
                transition: color .2s ease;
            }
        }

        & a:before {
            content: '';
            display: flex;
            width: 100%;
            opacity: 0;
            max-width: 0;
            border: solid 2px #adedf9;
            position: relative;
            bottom: 26px;
        }

        & a:hover:before {
            opacity: 1;
            max-width: 100%;
            transition: max-width .3s ease;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 1440px;
    height: calc(100%-366px);
    margin: 0 auto;
}

footer {
    width: 100%;
    background: #1e2947;
}

/* Header */

.lang {
    position: relative;
    z-index: 9;
    color: #f1f1f1;
    width: 130px;

    & hr {
        opacity: 0;
        margin-top: 10px;
        border: solid 1px #3c5a95;
    }

    & span {
        display: inline-block;
        background-image: url(../style/img/arrow_lang.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 16px;
        height: 8px;
    }

    & input,
    ul {
        display: none;
    }

    & label {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-left: 10px;
        margin-top: 10px;
        cursor: pointer;
    }

    & ul {
        list-style: none;
        flex-direction: column;
        margin-top: 5px;
    }

    & li {

        &:last-child {
            border-radius: 0 0 10px 10px;
        }

        &>a {
            display: flex;
            gap: 5px;
            padding: 10px;
        }

        &:hover {
            background-color: #3c5a95;
            transition: background-color .3s ease;
        }
    }

    &:hover {
        background-color: #25325e;
        border-radius: 10px;
        margin-top: 125px;
        transition: background-color .3s ease;

        &>ul {
            display: flex;
        }

        & hr {
            opacity: .4;
        }
    }
}

.english:before {
    content: '';
    display: inline-block;
    background-image: url(../style/img/lang/english.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
}

.russian:before {
    content: '';
    display: inline-block;
    background-image: url(../style/img/lang/english.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
}

.vietnamese:before {
    content: '';
    display: inline-block;
    background-image: url(../style/img/lang/english.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
}

.chinese:before {
    content: '';
    display: inline-block;
    background-image: url(../style/img/lang/english.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
}

/* Main */
/* Logo */

.logo {
    width: 460px;
    height: auto;
    margin: 180px 0 0 300px;
    animation: animalBreath 3s ease-in infinite;
}

/* Online */

.online {
    display: flex;
    align-items: center;
    height: 70px;
    position: fixed;
    bottom: 0;
    right: -5rem;
    z-index: 9999;
    cursor: default;
    overflow: hidden;

    & h3 {
        display: flex;
        justify-content: center;
        gap: 5px;
        position: relative;
        right: 15rem;
        top: 5px;
        color: #ebcf9b;

        &::before {
            content: '';
            background-color: #00ff77;
            position: relative;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            top: 5px;
            right: 5px;
            animation: animalOnline 3s ease-in-out infinite;
        }
    }
}

/* Twitch */

#twitch {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    position: relative;
    animation: hoverItem 1s linear 1;

    & ol {
        display: flex;
        flex-direction: column-reverse;
        list-style-position: inside;
        cursor: default;
        overflow: auto;
        height: 280px;
        border-radius: 10px;
        /* -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
        &::-webkit-scrollbar { width: 0; } */
        &::-webkit-scrollbar {
            background-color: #25325e;
            width: 15px;
            height: 15px;
            border-radius: 0 10px 10px 0;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: #304170;
            border-radius: 10px;
        }
    }

    & li {
        background-color: #25325e;
        color: #adedf9;
        width: 100%;
        padding: 10px;
        &:hover {
                background-color: #3c5a95;
                transition: all .1s linear;
                & a {
                    color: #ebcf9b;
                }
            }
    }

    & iframe {
        border-radius: 30px;
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        position: relative;
        z-index: 1;

        &:hover {
            border: solid 5px #ebcf9b;
            transition: all .5s linear;

            -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        }
    }
}

.event-panel {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #486bb1;
    border: solid 5px #486bb1;
    border-radius: 10px;
    padding: 10px;
    &:hover {border: solid 5px #ebcf9b;transition: all .5s linear;}
    & h3 {text-align: center;color: #adedf9;}
}

.twitch {
    grid-area: 1 / 2 / 2 / 3;
    position: relative;
    &::before {
        content: '';
        background-image: url(../style/img/bg-twitch2.png);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        z-index: 2;
        display: block;
        width: 620px;
        height: 358px;
        /* animation: animalFire 5s linear infinite; */
    }
}

.online-register {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #486bb1;
    border: solid 5px #486bb1;
    border-radius: 10px;
    padding: 10px;
    &:hover {border: solid 5px #ebcf9b;transition: all .5s linear;}
    & h3 {text-align: center;color: #adedf9;}
}

@media screen and (min-width:0px) and (max-width:1279px) {
    #twitch {grid-column-gap: 0;grid-row-gap: 10px;}
    .event-panel {grid-area: 1 / 1 / 2 / 2;}
    .twitch {grid-area: 2 / 1 / 3 / 2;}
    .online-register {grid-area: 3 / 1 / 4 / 2;}
}

/* Download */

#download {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    color: #f1f1f1;

    & .down-content {
        width: 900px;
        height: 400px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        background-color: #3c5a95;
        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        overflow: hidden;

        &:before {
            content: '';
            background-image: url(../style/img/lantern.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 120px;
            height: 180px;
            position: absolute;
            margin-bottom: 15.5rem;
            margin-left: 50rem;
            z-index: 1;
            filter: drop-shadow(0 0 40px #ebcf9b);
            animation: animalLanternMotion 3s linear infinite;
        }
    }

    & a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 9px;
        width: 180px;
        background-color: #486bb1;
        border: solid 1px #486bb1;
        color: #adedf9;
        border-radius: 5px;

        &:hover {
            filter: brightness(1.2);
            transition: all .3s linear;
            color: #ebcf9b;
            border: solid 1px #ebcf9b;
        }

        &:active {
            filter: brightness(.8);
        }
    }


}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 0px;
    background-color: #25325e;
    border-radius: 10px;

    & div {
        display: flex;
        justify-content: center;
        align-items: center;
        text-wrap: balance;
        padding: 10px;
        text-align: center;

        &:hover {
            filter: brightness(1.1);
            cursor: default;
        }
    }
}

.div1 {
    grid-area: 1 / 1 / 2 / 5;
    background-color: #25325e;
    border-radius: 10px 10px 0 0;
}

.div2 {
    grid-area: 2 / 1 / 3 / 2;
    background-color: #304170;
}

.div3 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #304170;
}

.div4 {
    grid-area: 2 / 3 / 3 / 4;
    background-color: #304170;
}

.div5 {
    grid-area: 2 / 4 / 3 / 5;
    background-color: #304170;
}

.div6 {
    grid-area: 3 / 1 / 4 / 2;
    background-color: #486bb1;
    border-radius: 0 0 0 10px;
}

.div7 {
    grid-area: 3 / 2 / 4 / 3;
    background-color: #486bb1;
}

.div8 {
    grid-area: 3 / 3 / 4 / 4;
    background-color: #486bb1;
}

.div9 {
    grid-area: 3 / 4 / 4 / 5;
    background-color: #486bb1;
    border-radius: 0 0 10px 0;
}

/* Persons */

.persons {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    color: #f1f1f1;
}

.items {
    display: flex;
    justify-content: center;
}

.block {
    display: flex;

    &:first-child .item {
        border-radius: 10px 0 0 10px;
    }

    &:last-child .item {
        border-radius: 0 10px 10px 0;
    }

    &:last-child {
        flex-direction: row-reverse;
    }

    &:checked>#item-action {
        display: flex;
    }

    & input {
        display: none;
    }

    & input:checked~div#item-action {
        max-width: 740px;
        padding: 1rem;

        -webkit-transition: max-width 0.5s ease-in-out, box-shadow 0.1s linear;
        -moz-transition: max-width 0.5s ease-in-out, box-shadow 0.1s linear;
        -o-transition: max-width 0.5s ease-in-out, box-shadow 0.1s linear;
        -ms-transition: max-width 0.5s ease-in-out, box-shadow 0.1s linear;
        transition: max-width 0.5s ease-in-out, box-shadow 0.1s linear;
    }

    & input:checked~label {
        filter: brightness(1);
    }
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #adedf9;
    writing-mode: vertical-lr;
    cursor: pointer;
    width: 75px;
    height: 520px;
    background: rgb(43, 121, 200);
    background: linear-gradient(140deg, rgba(43, 121, 200, 1) 0%, rgba(20, 65, 128, 1) 100%);
    filter: brightness(.8);

    &:hover {
        filter: brightness(1.2);
        transition: filter .5s ease;
    }

    &:active {
        color: #ebcf9b;
    }

    &::before {
        content: '';
        background-image: url(../style/img/lotus.png);
        background-repeat: no-repeat;
        background-size: contain;
        opacity: .2;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
        &::before {
            display: none;
        }
    }
}

#item-action {
    display: flex;
    justify-content: start;
    align-items: center;
    color: #adedf9;
    height: 520px;
    max-width: 0;
    overflow: hidden;
    background-color: #3c5a95;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;

    & p {
        text-wrap: wrap;
    }

    & div {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

/* Fologallery */

.fotogallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.swiper {
    width: 100%;
    padding: 50px;
}

.swiper-slide {
    width: 900px;

    & img {
        display: block;
        width: 100%;
        border-radius: 10px;
    }
}

.swiper-button-prev {
    background-image: url("../style/img/arrow.png");
    width: 58px;
    height: 58px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: rotate(180deg);
}

.swiper-button-prev::after {
    display: none;
}

.swiper-button-next {
    background-image: url("../style/img/arrow.png");
    width: 58px;
    height: 58px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.swiper-button-next::after {
    display: none;
}

.swiper-button-prev,
.swiper-button-next {
    filter: brightness(60%);

    &:hover {
        filter: brightness(1.2);
        transition: filter .3s linear;
    }
}

.swiper-slide-next,
.swiper-slide-prev {
    & img {
        filter: brightness(40%);
        transition: all .3s linear;
        border-radius: 10px;
    }
}

/* Footer */

.foot {
    width: 1440px;
    height: 100%;
    margin: auto;
    padding: 10px 0;
    color: #adedf9;
}

.up {
    display: flex;
    justify-content: center;
    align-items: center;

    & a:hover {
        filter: brightness(1.2);
        transition: filter .3s linear;
    }

    & img {
        display: flex;
        justify-content: center;
        transform: rotate(180deg);
        width: 60px;
        margin: auto;
        margin: 20px 5px 0 10px;
    }

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border: solid 2px #ebcf9b;
    }

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border: solid 2px #ebcf9b;
    }
}

.foot-center {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.copy {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 500px;
    text-wrap: balance;

    & p {
        opacity: .4;
    }
}

.share {
    display: flex;
    gap: 10px;
    position: fixed;
    bottom: 10px;
    z-index: 10;
    padding: 10px 20px;
    &:hover {
        background-color: #304170;
        border-radius: 10px;
        transition: all .1s linear;
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        & img {
            filter: grayscale(1);
        }
    }
    & img {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 20px;

        &:hover {
            filter: grayscale(0) drop-shadow(0 0 10px #adedf9);
            transition: filter .2s linear;
        }
    }
}

.pay {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;

    & img {
        opacity: 0.5;
        height: 50px;

        &:hover {
            opacity: 1;
        }
    }
}

/* Rulse */

#rules {
    display: none;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    background: #304170e9;
    color: white;
    font-size: 1rem;
    padding: 2% 5%;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    position: absolute;
    z-index: 999999;

    & button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        color: white;
        width: 36px;
        height: 18px;
        font-size: 45px;
        position: absolute;
        right: 100px;
        top: 60px;

        &:hover {
            filter: drop-shadow(0 0 10px #ebcf9b);
        }

        &:active {
            &:hover {
                filter: drop-shadow(0 0 10px #3d3628);
            }
        }
    }

    &:first-child {
        align-items: center !important;
    }

    & :last-child {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    & li {
        margin-left: 20px;
    }
}

#navigate {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 99999;
    width: 100%;
    height: 100%;
    transition: all 1s linear;
    background-color: #1e2947;

    & button:nth-child(1) {
        cursor: pointer;
        &:hover {
            color: #ebcf9b;
            transition: all .1s linear;
        }
    }

    & button {
        position: absolute;
        right: 10%;
        top: 30px;
        background: none;
        color: #f1f1f1;
        font-size: 50px;
        width: 50px;
        height: 50px;

    }

    & select {
        color: white;
        font-size: 14px;
    }

    & option {
        color: #1e2947;
        padding: 10px;
    }

    & a,
    select {
        padding: 10px 20px;
        border: solid 1px #1e2947;

        &:hover {
            color: #adedf9;
            border: solid 1px #adedf9;
            border-radius: 10px;
        }

        &:active {
            background-color: #adedf9;
            color: black;
            -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
            -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
        }
    }
}

#nav-mobile {
    display: none;
    justify-content: space-between;
    width: 320px;
    height: 8 0px;
    margin: 0 auto;

    @media screen and (min-width: 320px) and (max-width: 767px) {
        display: flex;
    }

    & button {
        background: none;
        background-image: url(../style/img/menu.png);
        background-repeat: no-repeat;
        background-size: contain;
        color: #f1f1f1;
        cursor: pointer;
        width: 40px;
        height: 40px;
        mix-blend-mode: hard-light;
        filter: drop-shadow(0px 0px 10px #adedf9);
    }
}

#hof {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 1440px;
    margin: 80px auto;
    background-color: #304170c2;
    color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;

    & p {
        text-align: center;
        text-wrap: balance;
    }

    & a {
        text-decoration: underline;
        cursor: pointer;
    }

    & table {
        border-radius: 10px;
        border-collapse: collapse;
        cursor: default;
        width: 100%;
        height: 100%;
        border-collapse: collapse;

        & a {
            text-decoration: none;
        }
    }

    & thead {
        & tr {
            background-color: #304170 !important;
            color: #adedf9 !important;
        }

        & td:first-child {
            border-radius: 10px 0 0 0;
        }

        & td:last-child {
            border-radius: 0 10px 0 0;
        }
    }

    & tbody {
        & tr:last-child {
            & td:first-child {
                border-radius: 0 0 0 10px;
            }

            & td:last-child {
                border-radius: 0 0 10px 0;
            }
        }

        & tr {
            &:hover {
                background-color: #304170 !important;
                color: #ebcf9b;
                transition: all .1s linear;
                & a{color: #ebcf9b;text-decoration: underline;}
            }
        }

        & tr:nth-child(1n) {
            background-color: #486bb1;
        }

        & tr:nth-child(2n) {
            background-color: #5389de;
        }
    }

    & td {
        padding: 10px;
    }
}

#patch {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 1440px;
    margin: 80px auto;
    background-color: #304170c2;
    color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;

    & input {
        display: none;
    }
}

.patch-all {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.patch {
    background-color: #25325e;
    border-radius: 10px;
    padding: 20px;

    & label {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        width: 100%;
        font-weight: bold;
        color: #adedf9;

        & span {
            opacity: .2;
        }

        &:hover {
            color: #ebcf9b;
        }
    }

    .patch-info {
        display: none;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;

        & li {
            margin-left: 20px;
        }
    }

    & input:checked~.patch-info {
        display: flex;
    }
}

/* Account */

#account {
    display: flex;
    width: 1440px;
    margin: 40px auto;
    color: #f1f1f1;

    & u {
        text-decoration: underline;
    }

    & .account-nav {
        display: flex;
        flex-direction: column;
        gap: 20px;

        & label,
        a {
            cursor: pointer;
            background-color: #adedf9;
            color: #1a182d;
            padding: 10px;
            border-radius: 10px;
            border-left: solid 2px #adedf9;
            border-bottom: solid 2px #adedf9;

            &:hover {
                border-left: solid 2px #adedf9;
                border-bottom: solid 2px #adedf9;
                background-color: #304170;
                color: #ebcf9b;
                transition: all .1s linear;
            }

            &:active {
                filter: brightness(.6);
            }
        }
    }

    & input#info:checked~.acc-info {
        display: flex;
    }

    & input#voting:checked~.acc-voting {
        display: flex;
    }

    & input#shop:checked~.acc-shop {
        display: flex;
    }

    & input#rewards:checked~.acc-rewards {
        display: flex;
    }

    & input#characters:checked~.acc-characters {
        display: flex;
    }

    & input#pvp:checked~.acc-pvp {
        display: flex;
    }

    & input#donation:checked~.acc-donation {
        display: flex;
    }

    & input#journal:checked~.acc-journal {
        display: flex;
    }
}

.account {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;

    & nav {
        background-color: #3c5a95;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid #adedf922;
        filter: drop-shadow(0 0 10px #3c5a95);
        height: max-content;
        animation: hoverBlock .80s ease-in-out 1;
    }

    & aside {
        background-color: #3c5a95;
        border-radius: 10px;
        border: 2px solid #adedf922;
        filter: drop-shadow(0 0 10px #3c5a95);
        padding: 10px;
        overflow: scroll;
        width: 100%;
        height: 100vh;
        animation: hoverBlock .40s ease-in-out 1;

        & .acc-info,
        .acc-voting,
        .acc-shop,
        .acc-rewards,
        .acc-characters,
        .acc-characters,
        .acc-pvp,
        .acc-donation,
        .acc-journal {
            display: none;
            flex-direction: column;
            gap: 10px;
        }

        & input {
            display: none !important;
        }

        & hr {
            border: 1px solid #adedf922;
            width: 100%;
        }

        & span {
            color: #adedf9;
        }
    }

    & section {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 380px;
        height: max-content;
    }

    & #stash {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #3c5a95;
        border-radius: 10px;
        border: 2px solid #adedf922;
        filter: drop-shadow(0 0 10px #3c5a95);
        padding: 10px;
        animation: hoverBlockRight 1.2s ease-in-out 1;

        & .stash-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    & #stash-transfer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #3c5a95;
        border-radius: 10px;
        border: 2px solid #adedf922;
        filter: drop-shadow(0 0 10px #3c5a95);
        padding: 10px;
        animation: hoverBlockRight 1.4s ease-in-out 1;

        & .stash-nav {
            display: flex;
            flex-direction: column;
            gap: 20px;

            & ol {
                background-color: #adedf9;
                border-radius: 5px;
                list-style: none;
                color: #304170;
                font-size: 12px;
            }

            & li {
                padding: 5px;
            }
        }

        .stash-trans {
            display: flex;
            justify-content: center;
            gap: 10px;

            & button {
                cursor: pointer;
                border-radius: 5px;
            }

            & button:first-child {
                background-color: brown;
                color: #adedf9;
                padding: 5px 10px;
            }

            & button:last-child {
                background-color: green;
                color: #adedf9;
                padding: 5px 10px;
            }

            & button:hover {
                filter: brightness(1.2);
                transition: filter .3s linear;
            }

            & button:active {
                filter: brightness(.8);
                transition: filter .1s linear;
            }
        }
    }
}

.stash-list {
    background-color: #304170;
    padding: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;

    & button {
        cursor: pointer;
        border-radius: 5px;
        border: solid 1px #304170;
        background: rgb(73, 75, 72);
        background: linear-gradient(180deg, rgba(73, 75, 72, 1) 20%, rgba(28, 28, 28, 1) 60%, rgba(0, 1, 3, 1) 100%);
        -webkit-box-shadow: 0px 5px 10px 2px rgb(0, 0, 0) inset;
        -moz-box-shadow: 0px 5px 10px 2px rgb(0, 0, 0) inset;
        box-shadow: 0px 5px 10px 2px rgb(0, 0, 0) inset;
        width: 38px;
        height: 38px;

        &:hover {
            border: solid 1px #ebcf9b;

            & img {
                filter: brightness(.6);
            }
        }

        &:active {
            filter: brightness(.6);
        }

        & img {
            border-radius: 5px;
            width: 100%;
            height: 100%;
        }

        & span {
            position: absolute;
            margin-top: 22px;
            margin-left: -33px;
            color: white;
            filter: drop-shadow(0 0 10px black);


            font-size: 10px;
            font-weight: bold;
        }
    }
}

.acc-info {
    & #acc-online {
        color: #00ff77;
    }
}

.acc-voting {
    & .vote-now {
        display: flex;
        gap: 40px;

        & a {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 5px;
            padding: 10px;
            border-radius: 10px;
            background-color: #304170;

            &:hover {
                color: #ebcf9b;
                background-color: #253358;
                transition: all .3s linear;

                & img {
                    filter: opacity(.5);
                    transition: filter .1s linear;
                }
            }

            & img {
                border-radius: 10px;
            }
        }
    }
}

.acc-shop {
    & label {
        cursor: pointer;
        color: #adedf9;
        text-transform: uppercase;

        &:hover {
            color: #ebcf9b;
            transition: color .1s linear;
        }
    }

    & .shop-prev,.shop-next {background-color: #304170;border-radius: 10px; padding: 10px;}

    & .shop-next label {
        font-size: 14px;
    }

    & .shop-prev,
    .shop-next {
        display: flex;
        gap: 10px;
    }

    & input,
    .shop-remedy,
    .shop-aid,
    .shop-material,
    .shop-functional {
        display: none;
        gap: 10px;
    }

    & input#shop-remedy:checked~.shop-remedy {
        display: flex;
    }

    & input#shop-aid:checked~.shop-aid {
        display: flex;
    }

    & input#shop-material:checked~.shop-material {
        display: flex;
    }

    & input#shop-functional:checked~.shop-functional {
        display: flex;
    }

    & select {
        padding: 5px;
        border: solid 1px #adedf9;
        color: #1a182d;
        background-color: #adedf91d;
        border-radius: 10px;
        width: max-content;
    }

    & .shop-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        background-color: #304170;
        border: solid 1px #304170;
        padding: 10px;
        width: max-content;
        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

        & span {
            opacity: .6;
            font-size: 12px;
        }

        & input {
            display: block !important;
            border: solid 1px #adedf9;
            color: #adedf9;
            background-color: #adedf91d;
            border-radius: 10px;
            padding: 5px;
            width: 50px;
        }

        & button {
            background-color: #adedf9;
            border: solid 1px #adedf9;
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
                color: #ebcf9b;
                background-color: #3c5a95;
                border: solid 1px #ebcf9b;
                transition: all .1s linear;
            }

            &:active {
                filter: brightness(.8);
            }
        }

        & .description {
            display: none;
            flex-direction: column;
            padding: 10px;
            background-color: #1a182d;
            border-radius: 10px;
            width: 240px;
            position: absolute;
            z-index: 9999;
            margin-left: 180px;
            margin-top: 40px;

            & p {
                font-size: 14px;
            }

            & h4,
            p,
            span {
                text-wrap: balance;
            }
        }

        & img {
            border-radius: 5px;

            &:hover~.description {
                display: block;
            }
        }

        &:hover {
            border: solid 1px #ebcf9b;
        }
    }

    & .catalog-health,
    .catalog-energy,
    .catalog-spirit,
    .catalog-storage,
    .catalog-function,
    .catalog-pet,
    .catalog-teleport,
    .catalog-refinery,
    .catalog-esper,
    .catalog-skill,
    .catalog-gem,
    .catalog-fashion,
    .catalog-functional-function {
        display: none;
    }

    & input#remedy-health:checked~.catalog-health {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    & input#remedy-energy:checked~.catalog-energy {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    & input#remedy-spirit:checked~.catalog-spirit {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    & input#aid-storage:checked~.catalog-storage {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    & input#aid-function:checked~.catalog-function {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    & input#aid-pet:checked~.catalog-pet {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    & input#aid-teleport:checked~.catalog-teleport {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    & input#aid-refinery:checked~.catalog-refinery {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    & input#material-esper:checked~.catalog-esper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    & input#material-skill:checked~.catalog-skill {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    & input#material-gem:checked~.catalog-gem {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    & input#material-fashion:checked~.catalog-fashion {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    & input#functional-function:checked~.catalog-functional-function {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}

.acc-rewards {
    & .rewards-nav {
        display: flex;
        background-color: #304170;
        padding: 10px;
        border-radius: 5px;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        & .disabled {
            cursor: not-allowed;
            opacity: .4;
        }
    }

    & label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #adedf9;
        cursor: pointer;
        width: 120px;

        &::after {
            content: '';
            position: relative;
            top: 10px;
            border-bottom: solid 1px var(--rewards-checked);
            display: block;
            height: 1px;
            width: 120px;
        }

        &:hover {
            color: #ebcf9b;
            transition: all .1s linear;

            &::after {
                animation: hoverRewards .5s linear forwards;
            }
        }
    }

    & input[type="radio"],
    .online-time,
    .level,
    .infamy,
    .votes,
    .referral,
    .misc {
        display: none;
    }

    & input#online-time:checked~.online-time {
        display: flex;
    }

    & input#level:checked~.level {
        display: flex;
    }

    & input#infamy:checked~.infamy {
        display: flex;
    }

    & input#votes:checked~.votes {
        display: flex;
    }

    & input#referral:checked~.referral {
        display: flex;
    }

    & input#misc:checked~.misc {
        display: flex;
    }

    & .online-time,
    .level {
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        & .online-item {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            background-color: #304170;
            border: solid 1px #304170;
            border-radius: 10px;
            padding: 10px;
            width: 240px;
            -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

            /* &:nth-child(1) {animation: hoverItem .10s linear 1;}
            &:nth-child(2) {animation: hoverItem .20s linear 1;}
            &:nth-child(3) {animation: hoverItem .30s linear 1;}
            &:nth-child(4) {animation: hoverItem .40s linear 1;}
            &:nth-child(5) {animation: hoverItem .50s linear 1;}
            &:nth-child(6) {animation: hoverItem .60s linear 1;}
            &:nth-child(7) {animation: hoverItem .70s linear 1;}
            &:nth-child(8) {animation: hoverItem .80s linear 1;}
            &:nth-child(9) {animation: hoverItem .90s linear 1;}
            &:nth-child(10) {animation: hoverItem 1s linear 1;}
            &:nth-child(11) {animation: hoverItem 1.10s linear 1;}
            &:nth-child(12) {animation: hoverItem 1.20s linear 1;}
            &:nth-child(13) {animation: hoverItem 1.30s linear 1;} */
            &:last-child {
                & .description {
                    margin-top: -220px;
                }
            }

            &:hover {
                border: solid 1px #ebcf9b;

                -webkit-box-shadow: 0px 5px 10px 2px #ebcf9b33 inset;
                -moz-box-shadow: 0px 5px 10px 2px #ebcf9b33 inset;
                box-shadow: 0px 5px 10px 2px #ebcf9b33 inset;
            }

            &:active {
                -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
                -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
                box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
                transition: all .1s linear;
            }

            & .description {
                display: none;
                flex-direction: column;
                padding: 10px;
                background-color: #1a182d;
                border-radius: 10px;
                width: fit-content;
                min-width: 240px;
                position: absolute;
                z-index: 99999;
                margin-top: 40px;

                & p {
                    font-size: 14px;
                }

                & h4,
                p,
                span {
                    text-wrap: balance;
                }
            }

            & h4 {
                text-wrap: balance;
            }

            & img {
                border-radius: 5px;

                &:hover~.description {
                    display: flex;
                }
            }

            & #item {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
                font-size: 12px;
            }

            & button {
                color: #ebcf9b;
                background-color: #3c5a95;
                border: solid 1px #ebcf9b;
                padding: 5px;
                border-radius: 10px;
                cursor: pointer;

                &:hover {
                    color: black;
                    background-color: #adedf9;
                    border: solid 1px #adedf9;
                    transition: all .1s linear;
                }

                &:active {
                    filter: brightness(.8);
                }
            }
        }
    }
}

.acc-characters {
    & .rewards-nav {
        display: flex;
        justify-content: space-between;
        background-color: #304170;
        padding: 10px;
        border-radius: 5px;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-x: auto;
        position: relative;
        z-index: 1;

        & div {
            display: flex;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        & .disabled {
            cursor: not-allowed;
            opacity: .4;
        }

        & select {
            cursor: pointer;
            width: min-content;
            color: #adedf9;
            transition: all .3s linear;

            & option {
                background-color: #25325e;
            }
        }
    }

    & label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #adedf9;
        cursor: pointer;
        width: 120px;

        &::after {
            content: '';
            position: relative;
            top: 10px;
            border-bottom: solid 1px var(--rewards-checked);
            display: block;
            height: 1px;
            width: 120px;
        }

        &:hover {
            color: #ebcf9b;
            transition: all .1s linear;

            &::after {
                animation: hoverRewards .5s linear forwards;
            }
        }
    }

    & .characters {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;

    }

    & .char-person {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: min-content;
        height: min-content;
        margin-top: -60px;

        & button {
            position: relative;
            cursor: pointer;

            &:hover {
                filter: brightness(.8);
            }

            &:active {
                filter: brightness(.4);
            }

            & img {
                border-radius: 6px;
            }
        }
    }

    & .char-left,
    .char-right {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 5px;
        margin-top: 100px;
    }

    & .char-top,
    .char-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    & .char-top {
        grid-area: 1 / 2 / 2 / 3;
    }

    & .char-bottom {
        grid-area: 3 / 2 / 4 / 3;
    }

    & .char-right {
        grid-area: 1 / 3 / 4 / 4;
    }

    & .char-left {
        grid-area: 1 / 1 / 4 / 2;
    }

    & .char {
        width: 200px;
        grid-area: 2 / 2 / 3 / 3;
    }

    & .characters,
    .stock,
    .cache {
        display: none;
    }

    & input#characters-input:checked~.characters {
        display: flex;
    }

    & input#stock-input:checked~.stock {
        display: flex;
    }

    & input#cache-input:checked~.cache {
        display: flex;
    }

    & .stock {
        flex-direction: column;
        gap: 20px;

        & p {
            display: flex;
            justify-content: end;
        }

        & button {
            cursor: pointer;
            border-radius: 5px;
            border: solid 1px #304170;
            background: rgb(73, 75, 72);
            background: linear-gradient(180deg, rgba(73, 75, 72, 1) 20%, rgba(28, 28, 28, 1) 60%, rgba(0, 1, 3, 1) 100%);
            -webkit-box-shadow: 0px 5px 10px 2px rgb(0, 0, 0) inset;
            -moz-box-shadow: 0px 5px 10px 2px rgb(0, 0, 0) inset;
            box-shadow: 0px 5px 10px 2px rgb(0, 0, 0) inset;
            width: 38px;
            height: 38px;
        }
    }

    & .cache {
        flex-direction: column;
        gap: 20px;

        & p {
            display: flex;
            justify-content: end;
        }

        & button {
            cursor: pointer;
            border-radius: 5px;
            border: solid 1px #304170;
            background: rgb(73, 75, 72);
            background: linear-gradient(180deg, rgba(73, 75, 72, 1) 20%, rgba(28, 28, 28, 1) 60%, rgba(0, 1, 3, 1) 100%);
            -webkit-box-shadow: 0px 5px 10px 2px rgb(0, 0, 0) inset;
            -moz-box-shadow: 0px 5px 10px 2px rgb(0, 0, 0) inset;
            box-shadow: 0px 5px 10px 2px rgb(0, 0, 0) inset;
            width: 38px;
            height: 38px;
        }
    }
}

.acc-pvp {
    & .disable {
        background-color: #5389de !important;
        color: #adedf9;
    }

    & .pvp-event {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #304170;
        border-radius: 10px;
        padding: 10px;
        border: solid 1px #304170;
        
        &:hover {
            border: solid 1px #ebcf9b;
        }

        & button {
            background-color: #3c5a95;
            border: solid 1px #3c5a95;
            border-radius: 10px;
            padding: 10px;
            color: #adedf9;
            cursor: pointer;
            width: 100%;

            &:hover {
                border: solid 1px #ebcf9b;

                transition: all .1s linear;
            }

            &:active {
                background-color: #007aff;
            }
        }
    }

    & .event-page {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: #304170;
        border-radius: 10px;
        padding: 20px 10px;
    }
    & table {cursor: default;}
    & tbody {
        position: relative;
        top: 10px;
        & tr:hover {
            color: #ebcf9b;
        }
    }
    & .event-refresh {
        color: white;
        border: solid 1px white;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        &:hover{
            border: solid 1px #ebcf9b;
            color: #ebcf9b;
            transition: all .1s linear;
        }
        &:active {
            background-color: #ebcf9b;
            color: #304170;
        }
    }
    & .nav {
        display: flex;
        justify-content: space-between;
        & .event-close{
            font-size: 32px;
            color: white;
            padding: 0 10px;
            cursor: pointer;
            &:hover {
                background-color: #3c5a95;
                border-radius: 50%;
                color: #adedf9;
                transition: background-color .1s linear;
            }
            &:active{filter: brightness(.8);}
        }
    }
    
    & .description {
        display: none;
        flex-direction: column;
        padding: 10px;
        background-color: #1a182d;
        border-radius: 10px;
        width: fit-content;
        min-width: 240px;
        position: absolute;
        z-index: 99999;
        margin-top: 40px;
        margin-left: 260px;
        & p {
            font-size: 14px;
        }

        & h4,
        p,
        span {
            text-wrap: balance;
        }
    }

    & h4 {
        text-wrap: balance;
    }

    & img {
        border-radius: 5px;

        &:hover~.description {
            display: flex;
        }
    }

    & #item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        font-size: 12px;
    }

   
}

.acc-donation {
    & .don-items {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        & .don-item {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            background-color: #304170;
            border-radius: 10px;
            padding: 10px;
            -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

            &:hover {
                transition: all .3s linear;
                -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
                -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
                box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;

                & h3 {
                    color: #ebcf9b;
                    cursor: default;
                }

                & p {
                    text-decoration: underline;
                    cursor: default;
                }
            }

            & button:nth-child(3) {
                background-color: #3c5a95;
                border: solid 1px #3c5a95;
                font-weight: bold;
                color: rgb(0, 48, 135);

                & span {
                    color: rgb(0, 156, 222);
                }
            }

            & button:last-child {
                background-color: #3c5a95;
                border: solid 1px #3c5a95;
                opacity: .6;
            }

            & button {
                text-wrap: nowrap;
                width: 100%;
                padding: 10px 25px;
                border-radius: 10px;
                cursor: pointer;
                color: #adedf9;

                &:hover {
                    filter: brightness(1.2);
                    border: solid 1px #ebcf9b;
                    transition: all .1s linear;
                }

                &:active {
                    filter: brightness(.8);
                }
            }

        }
    }
}

.acc-journal {
    & .nav, .nav-kills {
        display: flex;
        gap: 20px;
        background-color: #304170;
        border-radius: 10px;
        padding: 10px;
        & a {
            display: flex;
            flex-direction: column;
            &::after {
                content: '';
                border-bottom: solid 1px #ebcf9b;
                max-width: 0;
                position: relative;
                top: 10px;
            }
            &:hover{
                color: #ebcf9b;
                &::after {
                    max-width: 100%;
                    transition: all .2s linear;
                }
            }
            &:active{filter: brightness(.8);}
        }
    }

    & .nav {font-size: 14px;}
    & .nav-kills {font-size: 12px;}
}


/* Auth */

#auth-nav {
    display: none;

    &:checked~section {
        transform: scale(1);
        transition: transform .2s linear;
    }
}

#auth {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 99999;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: all .3s linear;

    & .auth, .pass, .regist{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background-color: #3c5a95;
        padding: 20px;
        filter: drop-shadow(0 0 20px #3c5a95);
        border-radius: 10px;
        color: white;

        & input {
            padding: 10px;
            border-radius: 5px;
            border: none;
            outline: none;
            width: 300px;
        }

        & input[type="submit"], .reg {
            cursor: pointer;
            background-color: #007aff;
            color: white;
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            &:focus {
                outline: solid 1px #ebcf9b;
            }

            &:hover {
                filter: brightness(1.2);
                transition: all .3s linear;
            }

            &:active {
                filter: brightness(.8);
            }
        }

        & .reg {
            opacity: .4;
        }

        & input[type="text"],
        input[type="email"],
        input[type="password"] {
            background-color: #5389de;
            color: white;

            &:focus {
                outline: none;
                border-bottom: solid 2px #ebcf9b;
            }

            &::placeholder {
                color: white;
                opacity: .6;
            }
        }

        & a {
            color: white;

            &:hover {
                color: #ebcf9b;
            }
        }

        & label {
            display: flex;
            gap: 10px;

            & input {
                width: auto;
            }

            &:hover {
                color: #ebcf9b;
            }
        }
    }

    .regist {
        & a {
            color: #5389de;
            transition: color .1s linear;
            &:hover {
                color: #ebcf9b;
            }
        }
    }

    .auth-close {
        background: none;
        border: none;
        position: absolute;
        font-size: 28px;
        margin-bottom: 340px;
        margin-left: 390px;
        background-color: #3c5a95;
        border-radius: 100%;
        padding: 2px 10px;
        cursor: pointer;

        &:hover {
            color: #ebcf9b;
            filter: brightness(1.2);
            transition: all .3s linear;
        }
    }
}


/* Login - MultiAccount */

#multiaccount {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #304170;
    border-radius: 0 0 10px 10px;
    width: max-content;
    height: max-content;
    margin-left: 80px;
    position: absolute;
    z-index: 999;
    transform: translateY(-500px);
    filter: drop-shadow(0 0 10px #3c5a95);

    & a {
        padding: 10px 25px;
        width: 100%;

        &:hover {
            background-color: #3c5a95;
            color: #adedf9;

            &:last-child {
                border-radius: 0 0 10px 10px;
            }
        }
    }

}

#login:hover #multiaccount {
    transform: translateY(0);
    transition: all .3s linear;
}

/* GAID */

#gaid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    margin: 40px auto;
    @media screen and (min-width: 320px) and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    & .left{
        grid-area: 1 / 1 / 2 / 2;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            height: min-content;
        }
        background-color: #304170;
        padding: 10px;
        border-radius: 10px;
        & ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        & li {
            & a {
                display: flex;
                justify-content: space-between;
                padding: 5px;
                background-color: #486bb1;
                border-radius: 5px;
                width: 100%;
                text-wrap: nowrap;
                & span {margin-right: 10px;}
                &:hover {
                    filter: brightness(1.2);
                    transition: all .3s linear;
                    & span{margin-right: 0;}
                }
                &:active{filter: brightness(.8);}
            }
        }
    }
    & .right {
        grid-area: 1 / 2 / 2 / 5;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            height: 100%;
        }
        overflow: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
        &::-webkit-scrollbar {
            display: none;
        }
        & .gaid-item {
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: #304170;
            border-radius: 10px;
            padding: 10px;
            color: white;
            width: min-content;
            -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            & img{width: 640px;height: 240px;border-radius: 10px;object-fit: cover;}
            @media screen and (min-width: 320px) and (max-width: 767px){
                & img{width: 300px;height: 120px;border-radius: 10px;object-fit: cover;}
            }
        }
    }
}