* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:arial,sans-serif;
    border: 0;
    background: none;
}

a {
    color: #f1f1f1;
}
html,
body {
    width: 100%;
    height: 100%;
}

body {
    width: 1440px;
    margin: 0 auto;
    background: url(../style/img/bg.png), #253358;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}

main {
    height: calc(5800px - 80px - 310px);
}

footer {
    height: 310px;
    background-color: #0f1620;
}

.lang {
    position: relative;
    color: #f1f1f1;
    width: 130px;
    padding-top: 10px;

    & hr {
        opacity: 0;
        margin-top: 10px;
        border: solid 1px #3c5a95;
    }

    & span {
        display: inline-block;
        background-image: url(../style/img/arrow.svg);
        background-repeat: no-repeat;
        width: 16px;
        height: 8px;
    }

    & input, ul {display: none;}

    & label {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-left: 10px;
        cursor: pointer;
    }

    & ul {
        list-style: none;
        flex-direction: column;
        margin-top: 5px;
    }

    & li {

        &:last-child {
            border-radius: 0 0 10px 10px;
        }

        & > a {
            display: flex;
            gap: 5px;
            padding: 10px;
        }
    
        &:hover {
            background-color: #3c5a95;
            transition: background-color .3s ease; 
        }
    }

    &:hover {
        background-color: #25325e;
        border-radius: 10px;
        margin-top: 125px;
        transition: background-color .3s ease;

        & > ul {
            display: flex;
        }

        & hr {
            opacity: .4;
        }
    }
}

.english:before {
    content: '';
    display: inline-block;
    background-image: url(../style/img/lang/english.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
}

.russian:before {
    content: '';
    display: inline-block;
    background-image: url(../style/img/lang/english.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
}

.vietnamese:before {
    content: '';
    display: inline-block;
    background-image: url(../style/img/lang/english.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
}

.chinese:before {
    content: '';
    display: inline-block;
    background-image: url(../style/img/lang/english.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
}

.nav {
    display: flex;
    gap: 60px;

    & a {
        padding: 10px;

        &:active {
            color: #adedf9;
            transition: color .2s ease;
        }
    }

    & a:before {
        content: '';
        opacity: 0;
        display: flex;
        width: 100%;
        border: solid 3px #adedf9;
        position: relative;
        bottom: 29px;
    }
    
    & a:hover:before{
        opacity: 1;
        transition: opacity .5s ease;
    }
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../style/img/btn-login.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 103px;
    height: 40px;
    cursor: pointer;
    color: #f1f1f1;
    font-size: 14px;
    text-transform: uppercase;

    &:hover {
        filter: brightness(1.2);
        transition: filter .3s ease;
    }

    &:active {
        filter: brightness(1);
    }
}

.logo {
    background-image: url(../style/img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 757px;
    margin: 5% 23% 0;
}




/* Персонажи */

.persons {
    width: 1440px;
    margin: 0 auto;
    height: 2000px;
}

.items {
    display: flex;
    justify-content: center;
}

.block {
    display: flex;

    &:first-child .item {
        border-radius: 10px 0 0 10px;
    }

    &:last-child .item {
        border-radius: 0 10px 10px 0;
    }

    &:last-child {
        flex-direction: row-reverse;
    }

    &:checked > #item-action{
        display: flex;
    }

    & input {
        display: none;
    }

    & input:checked ~ div#item-action {
        max-width: 720px;
        -webkit-transition: max-width 0.5s ease-in-out,box-shadow 0.1s linear;
        -moz-transition: max-width 0.5s ease-in-out,box-shadow 0.1s linear;
        -o-transition: max-width 0.5s ease-in-out,box-shadow 0.1s linear;
        -ms-transition: max-width 0.5s ease-in-out,box-shadow 0.1s linear;
        transition: max-width 0.5s ease-in-out,box-shadow 0.1s linear;
        box-shadow: 0 0 0 1px rgba(155,155,155,0.3);
    }

    & input:checked ~ label {
        filter: brightness(1);
    }
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    writing-mode: vertical-lr;
    cursor: pointer;
    width: 60px;
    height: 440px;
    background: rgb(43,121,200);
    background: linear-gradient(140deg, rgba(43,121,200,1) 0%, rgba(20,65,128,1) 100%);
    filter: brightness(.9);

    &:hover {
        filter: brightness(1.2);
    }

    &::before{
        content: '';
        
        background-image: url(../style/img/lotus.png);
        background-repeat: no-repeat;
        background-size: contain;
        opacity: .2;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        z-index: 100000;
    }
}

#item-action {
    display: flex;
    justify-content: start;
    align-items: center;
    color: #adedf9;
    height: 440px;
    max-width: 0;
    overflow: hidden;
    background-color: #3c5a95;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;

    & p {
        text-wrap: wrap;
    }

    & div {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    & img {
        object-fit: cover;
    }
}