::-webkit-scrollbar {
    background-color: #486bb1;
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #3c5a95;
    border-radius: 5px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: arial, sans-serif;
    border: 0;
    background: none;
    scrollbar-color: #3c5a95 #486bb1;
    scrollbar-width: thin;
}

@keyframes animalBreath {
    0% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(1.4);
    }

    100% {
        filter: brightness(1);
    }
}

@keyframes animalFire {
    0% {
        filter: brightness(.8);
    }

    50% {
        filter: brightness(1.2);
    }

    100% {
        filter: brightness(.8);
    }
}

@keyframes animalLanternMotion {
    0% {
        transform: rotate(10deg) matrix(1, 0, 0, 1, -11, 0);
    }

    20% {
        transform: rotate(0deg) matrix(1, 0, 0, 1, 0, 0);
    }

    40% {
        transform: rotate(-10deg) matrix(1, 0, 0, 1, 11, 0);
        
    }

    60% {
        transform: rotate(0deg) matrix(1, 0, 0, 1, 0, 0);
    }

    100% {
        transform: rotate(10deg) matrix(1, 0, 0, 1, -11, 0);
        
    }
}

@keyframes animalOnline {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

a {
    color: #f1f1f1;
}

h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ebcf9b;

    &::before {
        content: url(../style/img/decoration.png);
    }
}

h4 {
    text-wrap: nowrap;
}
.column {
    display: flex;
    flex-direction: column;
}
.g20 {
    gap: 20px;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    
    background: url(../style/img/bg.png), #253358;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

header {
    width: 1440px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

main {
    width: 1440px;
    height: calc(100%-390px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

footer {
    width: 100%;
    height: 310px;
    background-color: #0f1620;
}

/* Header */

.lang {
    position: relative;
    color: #f1f1f1;
    width: 130px;

    & hr {
        opacity: 0;
        margin-top: 10px;
        border: solid 1px #3c5a95;
    }

    & span {
        display: inline-block;
        background-image: url(../style/img/arrow.svg);
        background-repeat: no-repeat;
        width: 16px;
        height: 8px;
    }

    & input,
    ul {
        display: none;
    }

    & label {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-left: 10px;
        margin-top: 10px;
        cursor: pointer;
    }

    & ul {
        list-style: none;
        flex-direction: column;
        margin-top: 3px;
    }

    & li {

        &:last-child {
            border-radius: 0 0 10px 10px;
        }

        &>a {
            display: flex;
            gap: 5px;
            padding: 10px;
        }

        &:hover {
            background-color: #3c5a95;
            transition: background-color .3s ease;
        }
    }

    &:hover {
        background-color: #25325e;
        border-radius: 10px;
        margin-top: 125px;
        transition: background-color .3s ease;

        &>ul {
            display: flex;
        }

        & hr {
            opacity: .4;
        }
    }
}

.english:before {
    content: '';
    display: inline-block;
    background-image: url(../style/img/lang/english.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
}

.russian:before {
    content: '';
    display: inline-block;
    background-image: url(../style/img/lang/english.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
}

.vietnamese:before {
    content: '';
    display: inline-block;
    background-image: url(../style/img/lang/english.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
}

.chinese:before {
    content: '';
    display: inline-block;
    background-image: url(../style/img/lang/english.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
}

nav {
    display: flex;
    gap: 60px;

    & a {
        padding: 10px;

        &:hover {
            color: #ebcf9b;
            transition: color .2s ease;
        }

        &:active {
            color: #adedf9;
            transition: color .2s ease;
        }
    }

    & a:before {
        content: '';
        opacity: 0;
        display: flex;
        width: 100%;
        border: solid 3px #adedf9;
        position: relative;
        bottom: 29px;
    }

    & a:hover:before {
        opacity: 1;
        transition: opacity .5s ease;
    }
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../style/img/bg-login.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 280px;
    height: 40px;
    cursor: pointer;
    color: #253358;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: uppercase;

    &:hover {
        filter: brightness(1.5);
        transition: filter .3s ease;
    }

    &:active {
        filter: brightness(1);
    }

    & span {
        margin-left: 60px;
    }
}

/* Main */
/* Logo */

.logo {
    width: 460px;
    height: auto;
    margin: 180px 0 0 300px;
    animation: animalBreath 3s ease-in infinite;
}

/* Online */

.online {
    display: flex;
    align-items: center;
    height: 70px;
    position: fixed;
    bottom: 0;
    right: -5rem;
    z-index: 9999;
    cursor: default;
    overflow: hidden;

    & h3 {
        display: flex;
        justify-content: center;
        gap: 5px;
        position: relative;
        right: 15rem;
        top: 5px;
        color: #ebcf9b;

        &::before {
            content: '';
            background-color: #00ff77;
            position: relative;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            top: 5px;
            right: 5px;
            animation: animalOnline 3s ease-in-out infinite;
        }
    }
}

/* Twitch */

.twitch {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    &::before {
        content: '';
        background-image: url(../style/img/decore.png);
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        top: 10rem;
        right: 18rem;
        z-index: 2;
        display: block;
        width: 150px;
        height: 150px;
        filter: brightness(1);
        animation: animalFire 5s linear infinite;
    }

    & iframe {
        border: solid 5px #486bb1   ;
        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        position: relative;
        z-index: 1;

        &:hover {
            border: solid 5px #ebcf9b;
            transition: all .5s linear;

            -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        }
    }
}

/* Download */

#download {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    color: #f1f1f1;

    & .down-content {
        width: 900px;
        height: 400px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        background-color: #3c5a95;
        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        overflow: hidden;

        &:before {
            content: '';
            background-image: url(../style/img/lantern.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 120px;
            height: 180px;
            position: absolute;
            margin-bottom: 15.5rem;
            margin-left: 50rem;
            z-index: 1;
            filter: drop-shadow(0 0 40px #ebcf9b);
            animation: animalLanternMotion 3s linear infinite;
        }
    }

    & a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 9px;
        width: 180px;
        background-color: #486bb1;
        color: #adedf9;
        border-radius: 5px;

        &:hover {
            filter: brightness(1.2);
            transition: all .3s linear;
            color: #ebcf9b;
        }

        &:active {
            filter: brightness(.8);
        }
    }

    
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 0px;
    background-color: #25325e;
    border-radius: 10px;

    & div {
        display: flex;
        justify-content: center;
        align-items: center;
        text-wrap: balance;
        padding: 10px;
        text-align: center;

        &:hover {
            filter: brightness(1.1);
            cursor: default;
        }
    }
}

.div1 {
    grid-area: 1 / 1 / 2 / 5;
    background-color: #25325e;
    border-radius: 10px 10px 0 0;
}

.div2 {
    grid-area: 2 / 1 / 3 / 2;
    background-color: #304170;
}

.div3 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #304170;
}

.div4 {
    grid-area: 2 / 3 / 3 / 4;
    background-color: #304170;
}

.div5 {
    grid-area: 2 / 4 / 3 / 5;
    background-color: #304170;
}

.div6 {
    grid-area: 3 / 1 / 4 / 2;
    background-color: #486bb1;
    border-radius: 0 0 0 10px;
}

.div7 {
    grid-area: 3 / 2 / 4 / 3;
    background-color: #486bb1;
}

.div8 {
    grid-area: 3 / 3 / 4 / 4;
    background-color: #486bb1;
}

.div9 {
    grid-area: 3 / 4 / 4 / 5;
    background-color: #486bb1;
    border-radius: 0 0 10px 0;
}

/* Persons */

.persons {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    color: #f1f1f1;
}

.items {
    display: flex;
    justify-content: center;
}

.block {
    display: flex;

    &:first-child .item {
        border-radius: 10px 0 0 10px;
    }

    &:last-child .item {
        border-radius: 0 10px 10px 0;
    }

    &:last-child {
        flex-direction: row-reverse;
    }

    &:checked>#item-action {
        display: flex;
    }

    & input {
        display: none;
    }

    & input:checked~div#item-action {
        max-width: 740px;
        padding: 1rem;

        -webkit-transition: max-width 0.5s ease-in-out, box-shadow 0.1s linear;
        -moz-transition: max-width 0.5s ease-in-out, box-shadow 0.1s linear;
        -o-transition: max-width 0.5s ease-in-out, box-shadow 0.1s linear;
        -ms-transition: max-width 0.5s ease-in-out, box-shadow 0.1s linear;
        transition: max-width 0.5s ease-in-out, box-shadow 0.1s linear;
    }

    & input:checked~label {
        filter: brightness(1);
    }
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #adedf9;
    writing-mode: vertical-lr;
    cursor: pointer;
    width: 75px;
    height: 520px;
    background: rgb(43, 121, 200);
    background: linear-gradient(140deg, rgba(43, 121, 200, 1) 0%, rgba(20, 65, 128, 1) 100%);
    filter: brightness(.8);

    &:hover {
        filter: brightness(1.2);
        transition: filter .5s ease;
    }

    &:active {
        color: #ebcf9b;
    }

    &::before {
        content: '';
        background-image: url(../style/img/lotus.png);
        background-repeat: no-repeat;
        background-size: contain;
        opacity: .2;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
    }
}

#item-action {
    display: flex;
    justify-content: start;
    align-items: center;
    color: #adedf9;
    height: 520px;
    max-width: 0;
    overflow: hidden;
    background-color: #3c5a95;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;

    & p {
        text-wrap: wrap;
    }

    & div {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

/* Fologallery */

.fotogallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.swiper {
    width: 100%;
    padding: 50px;
}

.swiper-slide {
    width: 900px;
    border-radius: 10px;

    & img {
        display: block;
        width: 100%;
        border-radius: 10px;
    }
}

.swiper-button-prev {
    background-image: url("../style/img/arrow.png");
    width: 58px;
    height: 58px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: rotate(180deg);
}

.swiper-button-prev::after {
    display: none;
}

.swiper-button-next {
    background-image: url("../style/img/arrow.png");
    width: 58px;
    height: 58px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.swiper-button-next::after {
    display: none;
}

.swiper-button-prev,
.swiper-button-next {
    filter: brightness(60%);
    &:hover {
        filter: brightness(1.2);
        transition: filter .3s linear;
    }
}

.swiper-slide-next,
.swiper-slide-prev {
    & img {
        filter: brightness(40%);
        transition: all .3s linear;
    }
}

/* Footer */

.foot {
    width: 1440px;
    height: 100%;
    margin: auto;
}