@media screen and (min-width: 1200px) {
    header {
        width: 1280px;
    }

    main {
        width: 1280px;
    }

    .logo {
        width: 360px;
        margin: 120px 0 0 300px;
    }

    .persons {
        width: 1280px;
    }

    .item {
        width: 50px;
    }

    .foot {
        width: 1280px;
        padding: 10px 20px;
    }
}

@media screen and (min-width: 992px) {
    header {
        width: 980px;
    }

    main {
        width: 980px;
    }

    nav {
        gap: 20px;
    }

    .logo {
        width: 260px;
        margin: 80px 0 0 240px;
    }

    .persons {
        width: 880px;
    }

    .block {
        & input:checked~div#item-action {
            max-width: 580px;
        }
    }

    .item {
        width: 30px;
        height: 400px;
        &::before {
            width: 20px;
            height: 20px;
        }
    }

    #item-action {
        height: 400px;
        font-size: 12px;
        & img {
            zoom: 60%;
        }
    }

    .swiper-slide {
        width: 880px;
    }

    .foot {
        width: 980px;
        padding: 10px 20px;
    }
}

@media screen and (min-width: 768px) {
    header {
        width: 740px;
        height: 50px;
    }

    main {
        width: 740px;
    }

    .lang {
        zoom: 80%;
        margin-top: 10px;
        & ul {
            margin-top: 0;
        }
        &:hover label {
            margin-top: 17px;
        }
    }

    nav {
        gap: 10px;
        font-size: 12px;
    }

    button {
        zoom: 75%;
    }

    .logo {
        width: 260px;
        margin: 80px 0 0 240px;
    }

    .online {
        zoom: 75%;
    }

    #download {
        & .down-content {
            width: 740px;
            height: 320px;
            &:before {
                margin-bottom: 10.5rem;
                margin-left: 38rem;
            }
        }
    }

    .parent {
        font-size: 12px;
    }

    .persons {
        width: 720px;
    }

    .block {
        & input:checked~div#item-action {
            max-width: 400px;
        }
    }

    .item {
        width: 30px;
        height: 300px;
        font-size: 10px;
        &::before {
            width: 20px;
            height: 20px;
        }
    }

    #item-action {
        height: 300px;
        font-size: 9px;
        & img {
            zoom: 50%;
        }
    }

    .swiper-slide {
        width: 740px;
    }

    .foot {
        width: 740px;
        padding: 10px 20px;
    }
}