@media screen and (min-width: 320px) and (max-width: 767px) {
    h2 {
        font-size: 18px;

        &::before {
            zoom: 50%;
        }
    }

    header {
        display: none;
    }

    main {
        width: 320px;
    }

    .lang {
        margin-top: 10px;

        & ul {
            margin-top: 0;
        }

        &:hover label {
            margin-top: 16px;
        }
        &:hover {
            transition: background-color .1s linear;
        }
    }

    nav {
        gap: 10px;
        font-size: 12px;
    }

    .login {
        zoom: 75%;
    }

    .logo {
        width: 240px;
        margin: 100px 0 0 0;
    }

    .online {
        display: none;
        zoom: 75%;
        left: 0;
    }

    .twitch {
        &::before {
            content: '';
            background-image: url(../style/img/decore.png);
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
            top: 100px;
            right: 140px;
            z-index: 2;
            display: block;
            width: 120px;
            height: 120px;
            filter: brightness(1);
            animation: animalFire 5s linear infinite;
        }
    }

    .desctop {
        display: none;
    }

    #download {
        & .down-content {
            width: 320px;
            height: 300px;

            &:before {
                content: '';
                background-image: url(../style/img/lantern.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 80px;
                height: 140px;
                position: absolute;
                margin-bottom: 100px;
                margin-left: 190px;
                z-index: 1;
                filter: drop-shadow(0 0 40px #ebcf9b);
                animation: animalLanternMotion 3s linear infinite;
            }
        }
    }

    .parent {
        font-size: 8px;
    }

    .persons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: 320px;
        margin: 0 auto;
        color: #f1f1f1;
    }

    .items {
        display: flex;
        flex-direction: column;
        align-items: center;
        &::before {
            position: absolute;
            right: 0;
        }
    }

    .block {
        display: flex;
        flex-direction: column;

        & input:checked~div#item-action {
            padding: 10px;
            max-height: 500px;
        }

        &:last-child {
            flex-direction: column-reverse;
        }

        &:first-child .item {
            border-radius: 10px 10px 0 0;
        }

        &:last-child .item {
            border-radius: 0 0 10px 10px;
        }
    }

    .item {
        display: flex;
        writing-mode: horizontal-tb;
        width: 320px;
        height: 40px;
    }

    #item-action {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 320px;
        max-height: 0;
        font-size: 9px;

        & img {
            zoom: 50%;
        }

        &::before{
            top: none;
        }
    }

    .swiper {
        padding: 20px;
    }

    .swiper-slide {
        width: 320px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }

    .foot {
        width: 320px;
        padding: 10px 20px;
    }

    .foot-center {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .copy {
        align-items: center;
        text-align: center;
        width: 300px;
    }

    .share {
        display: flex;
        justify-content: center;
        zoom: 70%;
    }

    .pay {
        zoom: 50%;
        margin-top: 60px;
    }

    #hof, #patch, #account {
        width: 320px;
        & table {
            font-size: 8px;
        }
    }

    .account {
        display: flex;
        flex-direction: column;
        & nav {
            display: flex;
            flex-direction: row !important;
            text-wrap: nowrap;
            -ms-overflow-style: none;
            scrollbar-width: none;
            overflow-x: auto;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        & section {
            width: 300px;
        }
    }

    .vote-now {
        flex-direction: column;
    }

    #auth {zoom: 100%;}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    header {
        display: flex;
        align-items: center;
        width: 740px;
        height: 50px;
    }

    main {
        width: 740px;
    }

    .lang {
        zoom: 80%;
        margin-top: 10px;

        & ul {
            margin-top: 0;
        }

        &:hover label {
            margin-top: 17px;
        }
    }

    nav {
        gap: 10px;
        font-size: 10px;
    }

    .login {
        zoom: 50%;
    }

    .logo {
        width: 220px;
        margin: 60px 0 0 160px;
    }

    .online {
        zoom: 75%;
        right: -5rem;
    }

    #download {
        & .down-content {
            width: 740px;
            height: 320px;

            &:before {
                margin-bottom: 10.5rem;
                margin-left: 38rem;
            }
        }
    }

    .parent {
        font-size: 12px;
    }

    .persons {
        width: 740px;
    }

    .block {
        & input:checked~div#item-action {
            max-width: 400px;
        }
    }

    .item {
        width: 30px;
        height: 300px;
        font-size: 10px;

        &::before {
            width: 20px;
            height: 20px;
        }
    }

    #item-action {
        height: 300px;
        font-size: 9px;

        & img {
            zoom: 50%;
        }
    }

    .swiper {
        padding: 20px;
    }

    .swiper-slide {
        width: 740px;
    }

    .foot {
        width: 740px;
        padding: 10px 20px;
    }

    #hof, #patch, #account {
        width: 740px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    header {
        display: flex;
        width: 980px;
        & .login {
            zoom: 80%;
        }
    }

    main {
        width: 980px;
    }

    nav {
        gap: 20px;
        font-size: 13px;
    }

    .logo {
        width: 260px;
        margin: 80px 0 0 240px;
    }

    .persons {
        width: 880px;
    }

    .block {
        & input:checked~div#item-action {
            max-width: 580px;
        }
    }

    .item {
        width: 30px;
        height: 400px;

        &::before {
            width: 20px;
            height: 20px;
        }
    }

    #item-action {
        height: 400px;
        font-size: 12px;

        & img {
            zoom: 60%;
        }
    }

    .swiper-slide {
        width: 880px;
    }

    .foot {
        width: 980px;
        padding: 10px 20px;
    }

    #hof, #patch, #account {
        width: 980px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
    header {
        display: flex;
        width: 1280px;
        height: 80px;
    }

    main {
        width: 1280px;
    }

    nav {
        font-size: 14px;
        gap: 40px;
    }

    .logo {
        width: 360px;
        margin: 120px 0 0 300px;
    }

    .login {
        zoom: normal;
    }

    .persons {
        width: 1280px;
    }

    .item {
        width: 50px;
    }

    .foot {
        width: 1280px;
        padding: 10px 20px;
    }
    
    #hof, #patch, #account {
        width: 1280px;
    }
}